body{
  background-color: #ce98026e;
}
#banner {
    height: auto;
    overflow: hidden;
    position: relative;
  }

  #banner .carousel-inner {
    height: 100%;
  }

  #banner .carousel-item img {
    object-fit: cover;
    height: 100%;
  }

  .navbar {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .navbar.transparent {
    background-color: transparent !important;
    color: rgb(0, 0, 0) !important;
  }

  .navbar.solid {
    background-color: #3f939454 !important;
    color: rgb(0, 0, 0) !important;
  }

  .promotions {
    position: absolute;
    top: 75%;
    left: 46%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 24px;
  }

  .carousel-control-pause {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .carousel-control-pause:focus {
    outline: none;
  }

  .carousel-control-pause i {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }

  #footer {
    background-color:#62cacb;
    padding: 20px 0;
    margin-top: 20px;
  }

  #footer .footer-section {
    text-align: center;
  }

  #footer .footer-section h3 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-bottom: 10px;
  }

  #footer .footer-section p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 5px;
  }

  #footer .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #footer .footer-section ul li {
    display: inline-block;
    margin-right: 10px;
  }

  #footer .footer-section ul li:last-child {
    margin-right: 0;
  }

  #footer .footer-section ul li a {
    color: rgb(255, 255, 255);
    font-size: 16px;
  }

  .beach-section {
    background-color: #62cacb;
    padding: 50px 0; /* Espaçamento interno superior e inferior */
  }
  
  .beach-section h2 {
    color: #fff; /* Cor do texto do título */
  }
  
  .beach-section .card {
    background-color: #fff; /* Cor de fundo dos cards */
    border-radius: 10px;
    overflow: hidden; /* Para garantir que a borda arredondada funcione mesmo que haja imagem dentro */
    margin-bottom: 20px; /* Espaçamento entre os cards */
  }
  
  .beach-section .card img {
    border-radius: 10px 10px 0 0; /* Bordas arredondadas somente no topo da imagem */
  }
  
  .beach-section .card-title,
  .beach-section .card-text {
    color: #333; /* Cor do texto dos cards */
  }
  
  .beach-section .btn-primary {
    background-color: #ffcc29; /* Cor do botão */
    border-color: #ffcc29; /* Cor da borda do botão */
  }
  
  .beach-section .btn-primary:hover {
    background-color: #ffdb75; /* Cor de fundo do botão ao passar o mouse */
    border-color: #ffdb75; /* Cor da borda do botão ao passar o mouse */
  }
  
  #quem-somos {
    background-color: #62cacb;
    border-radius: 20px;
    padding: 50px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adiciona a sombra */
}

#galeria {
  background-color: #62cacb;
  border-radius: 20px;
  padding: 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adiciona a sombra */
}

#depoimentos {
  background-color: #62cacb;
  border-radius: 20px;
  padding: 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adiciona a sombra */
}

#promocoes {
  background-color: #62c9cb;
  border-radius: 20px;
  padding: 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adiciona a sombra */
}

#footer {
  background-color: #62cacb;
  padding: 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adiciona a sombra */
  border-radius: 20px;
}

.section-title {
    color: #fff;
}

.section-description {
    color: #fff;
}